<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="container">
        {{>navbar}}
        <div class="main">
            <div class="about">
                <h3>My home page</h3>
                <p>My home page provides attrative UI for user. It consist of navbar, main body and footer. I have used <span>handlebars</span> as my view engine for handling multiple pages.</p>                
            </div>
            <div class="about">
               <h3>My home page</h3>
                <p>My home page provides attrative UI for user. It consist of navbar, main body and footer. I have used <span>handlebars</span> as my view engine for handling multiple pages.</p>               
            </div>
            <div class="about">
                <h3>My home page</h3>
                <p>My home page provides attrative UI for user. It consist of navbar, main body and footer. I have used <span>handlebars</span> as my view engine for handling multiple pages.</p>                
            </div>
        </div>
        {{>footer}}  
    </div>    
</body>
</html>