<div class="banner">
    <nav>
        <ul>
            <li>RAGNAR</li>
            <li>
                <a href="/">Home</a>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </li>
            {{!-- <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li> --}}
        </ul>
    </nav>
    <div class="heading">
        <h1>Greetings from Ragnar!</h1>
        <h1>Welcome to my Login Form Project.</h1>
        <p>Expreience the best!</p>
    </div>
</div>
